@charset "ISO-8859-1";
/*imagen de la cabecera*/
.principal {
    background-image: url('../Imagenes/header4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /*justify-content: space-between;*/
    height: 140px;
	justify-content: center; /*el titulo de los formualrios queda centrado*/
  	
}
.principal h1{
	font-size: 40px; 
	justify-content: center;
}

/*contenedor del index donde se ingresa el administrador*/
#container1 {
	width:530px;
	height: 500px;
	/*background-color:#0C6;*/ 
	margin-left: 430px;
	
}
/*centrando imagen de boton en el index*/
#container1 img{
	display:block;
	margin:auto;
}
/*Diseño del menú horozontal*/

#container {
	width:1100px;
	/*background-color:#0C6;*/ 
	margin: 0 auto;
}


ul{
	list-style:none;
	padding: 0px;
	margin: 0px;
	background: #1188ff;/*primer color de fondo de la barra de menu*/
	line-height: 40px;/*alto del espacio del menú*/
	overflow: auto; /*devuelve a la etiqueta ul el contexto de bloque, (sigue siendo un bloque) y asi en li se puede
	utilizar el atributo float: left; y quitar el  display: inline-block; */ 
}

li {                  /* ubicacion del contenido de un elemento */
    width: 115px; /*es como el espacio entre los link del menú*/
    /*display: inline-block;*/
    margin-right: 40px;
    text-align: center;
    float: left; /*siempre que se utilice float, se debe indicar en la etiqueta contenedor (ul en este caso)
    el atributo overflow*/
}

nav{
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
	font-weight:bold ;
}

a{
	text-decoration: none;
	display: block;
	color: white;
}

nav ul li a:hover{
	background: #20ff58;/*esto es para cuando se pase el mouse por el menu cambie de color*/
	color: black;
}

section{ width: 400px;
		height: 400px;
		background-color:#999;
		margin:10px;
		/*line-height:24px;*/ 
		padding:10px; 
		box-sizing:border-box; 
		float:left;
		font-family: Verdana, Geneva, Tahoma, sans-serif ;
		background-image: url('../Imagenes/diseño1.jpg');
		/*background-repeat: no-repeat;*/
		/*background-size: cover;*/
}

/*.Contenido-int{ /*background-color: #FC9;
				width:560px;
				margin:10px;
				float:left;
				padding:20px;
				box-sizing:border-box;
	}*/
/*el aside y h3 es donde se encuentra la galeria de fotos, esto esta en el formulario Menu*/
aside{
	width:660px; 
	margin:10px;
	/*background-color: #09F;*/
	padding:10px; /*este se utiliza cuando no se quiere que la caja se modifique y la medida es hacia adentro, debe ir con el box-sizing:border-box*/
	box-sizing:border-box; 
	float:left;
	}

footer{
	background-color: #FFF;
	text-align:center;
	padding:20px;
	clear: both;/*limpia y muestra lo q estaba flotando*/
	}

/* ----para la frase ingreso administrdor---- */
h2 a{
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 30 px;
    font-weight:bold ;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
    color: red;
	
}


body {                       /* sin margenes toda la página */
    margin: 0px;
    background-image: url("../Imagenes/fondotienda.jpg");
    background-repeat: no-repeat;
    background-size: cover; /*con esta linea hace que ocupe el ancho de la pagian*/
    background-attachment:fixed;
}

/*titulo de los formularios y del index*/
h1{
	text-align: center;
    margin-top: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: black; /*cambia el color del h1 que es el nombre de cada formulario*/
}
table{
    margin: 0 auto; /* Esta línea me alinea la tabla que contiene el formulario */
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

/*Estilo para formulario de usuarios*/

.formulario{
	margin-top: 50px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
    color: white;
}


/*Estilo para formulario de login*/
.ingreso{
	margin-top: 50px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
    color: white;
}
 /* diseño para todos los botones de crear consultar etc...*/
#boton{
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
	color: #ff0080;
	background-color: black;
	border-radius: 10% / 50%;
	padding: 5px 10px;
	text-align: center;
}
